h2 {
  font-size: 10px;
}
  
.grid-container-comparison {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  grid-gap: 15px;
  color:white;
  height: calc(100vh - 100px);
  grid-template-areas: "rating-banks	rating-banks	rating-banks	rating-banks	rating-banks	rating-banks	count	count"
  "rating-banks	rating-banks	rating-banks	rating-banks	rating-banks	rating-banks	count	count"
  "sentiment-banks	sentiment-banks	sentiment-banks	insights-banks	insights-banks	insights-banks	insights-banks	insights-banks"
  "sentiment-banks	sentiment-banks	sentiment-banks	insights-banks	insights-banks	insights-banks	insights-banks	insights-banks";
}

.grid-item-comparison {
  padding: 4px;
  box-shadow: 5px -5px 7px 0px rgba(0, 0, 0, 0.5); 
}

.rating-banks {
  grid-area: rating-banks;
  display: flex;
  flex-direction: column;
}

.count {
  grid-area: count;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #102c6562;
  color: white;
}

.sentiment-banks{
  grid-area: sentiment-banks;
  display: flex;
  flex-direction: column;
}

.insights-banks {
  grid-area: insights-banks;
  flex-direction: column;
  color: white;
  background-color: #3c448baf;
}

@media (max-width: 768px) {
  .grid-container-comparison {
    grid-template-columns: 2fr;
    grid-template-rows: auto;
    grid-template-areas:
      "rating-banks"
      "count"
      "sentiment-banks"
      "insights-banks";
  }
}

.legend-container {
  display: flex;
  flex-direction: column;
}

.legend-item-container {
  padding: 5px;
}

.legend-item {
  display: flex;
  align-items: center;
}

.legend-color {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .legend-item {
    margin-right: 5px; 
  }
}
