h2 {
  font-size: 10px;
}
  
.grid-container-comparison {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  grid-gap: 15px;
  color:white;
  /* overflow: auto; do this if needed */
  height: calc(100vh - 100px);
  grid-template-areas: "rating-banks	rating-banks	rating-banks	rating-banks	rating-banks	rating-banks	count	count"
  "rating-banks	rating-banks	rating-banks	rating-banks	rating-banks	rating-banks	count	count"
  "sentiment-banks	sentiment-banks	sentiment-banks	insights-banks	insights-banks	insights-banks	insights-banks	insights-banks"
  "sentiment-banks	sentiment-banks	sentiment-banks	insights-banks	insights-banks	insights-banks	insights-banks	insights-banks";


}

.grid-item-comparison {
  display: flex;
  /* size: 100%; */
  padding: 7px;
  /* border: 2px solid black; */
  /* border-radius: 10px;  */
  background-color: #2b3141;
  /* margin: 5px; */
  /* margin-bottom: 0; */
  box-shadow: 5px -5px 7px 0px rgba(0, 0, 0, 0.5); 

}

.rating-banks {
  grid-area: rating-banks;
  /* font-size: 50px; */
  display: flex;
  flex-direction: column;
  /*align-items: flex-start;*/

}

.count {
  grid-area: count;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #024781;
  color: white;
}

.sentiment-banks{
  grid-area: sentiment-banks;
  display: flex;
  flex-direction: column;
  /*align-items: flex-start;*/

}

.insights-banks {
  grid-area: insights-banks;
  flex-direction: column;
  color: white;
  background-color: #3c448b;
  /*#666fc9*/
}


@media (max-width: 768px) {
  .grid-container-comparison {
    grid-template-columns: 2fr;
    grid-template-rows: auto;
    grid-template-areas:
      "rating-banks"
      "count"
      "sentiment-banks"
      "insights-banks";
  }

}
/* Define font size for legend */
.legend-item span {
  white-space: nowrap;
  font-size: 0.8rem;
   /* Use relative font size */
}

/* Adjust layout for legend items */
.legend-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;  /* Allow items to wrap to the next line */
  flex-direction: column;
  align-items: flex-start;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 10px; 
  margin-bottom: 5px;
}

.legend-color {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .legend-item {
    margin-right: 5px; /* Adjust spacing for smaller screens */
  }
}
