.grid-container-overview {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-gap: 15px;
  height: calc(100vh - 100px);
  grid-template-areas: 'number	number	topic	topic	topic	topic'
  'donut	donut	topic	topic	topic	topic'
  'donut	donut	topic	topic	topic	topic'
  'ratings	ratings	ratings	insights	insights	insights'
  'ratings	ratings	ratings	insights	insights	insights'
  'ratings	ratings	ratings	insights	insights	insights'
  'ratings	ratings	ratings	insights	insights	insights'
  'ratings	ratings	ratings	insights	insights	insights';
}
  
.grid-item {
  display: flex;
  padding: 0;
  margin: 0;
  box-shadow: 5px -5px 7px 0px rgba(0, 0, 0, 0.5); 
  background-color: #2b3141;
  color: white;

}

.number {
  grid-area: number;
  align-items: center;
  font-size: 45px; 
  font-weight: bold;

}
  
.donut {
  grid-area: donut;
  align-items: center;
  margin: 0;
}

.legend {
  grid-area: legend;
  margin: 0;
  justify-self: start;
  flex-direction: column;
  display: 'flex';
}

.insights{
  grid-area: insights;
  height: auto; 
  overflow: hidden;
}

.topic {
  grid-area: topic;
  flex-direction: column;
}

.ratings {
  grid-area: ratings;
  flex-direction: column;
  overflow: hidden;
}

@media (max-width: 768px) { 
  .grid-container {
    grid-template-columns: 2fr;
    grid-template-rows: auto;
    grid-template-areas:
      'number'
      'donut'
      'legend'
      'topic'
      'ratings'
      'insights';
  }
}
  
  