
h2 {
  font-size: 10px;
}

.heading-reviews {
  font-size: 20px;
  /* text-align: center; */
}

.heading-percentage {
  font-size: 7px;
  text-align: center;
  margin:0;
}

.plotHeading-percentage{ 
  font-size: 10px;
  text-align: center;

}

.fixedWidthCol{
  width: 100px;
}

.xAxesLabels{
  text-align: center;
  margin-top: -5px;
  color: black;
  font-size: 10px;
}

.yAxesLabels{
  /*position: absolute;*/
  top: 10%; /* Position at the vertical center */
  left: 0; /* Position at the left edge */
  transform-origin: top left; /* Rotate around top-left corner */
  transform: rotate(-90deg) translateX(-30%); /* Rotate 90 degrees to the left and shift to the left */
  white-space: nowrap; /* Prevent text from wrapping */
  left: 2%;
}
  
.grid-container {
  display: grid;
  size: 100%;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  grid-template-rows: repeat(8, auto);
  grid-gap: 7px;
  grid-template-areas: 
    "filter	number	number	number	number	bar1	bar1	bar1	bar1	bar1"
    "filter	timeseries	timeseries	timeseries	timeseries	bar1	bar1	bar1	bar1	bar1"
    "filter	timeseries	timeseries	timeseries	timeseries	bar1	bar1	bar1	bar1	bar1"
    "filter	timeseries	timeseries	timeseries	timeseries	bar1	bar1	bar1	bar1	bar1"
    "bar2	bar2	bar2	bar2	bar2	stars	stars	stars	stars	stars"
    "bar2	bar2	bar2	bar2	bar2	stars	stars	stars	stars	stars"
    "bar2	bar2	bar2	bar2	bar2	stars	stars	stars	stars	stars"
    "bar2	bar2	bar2	bar2	bar2	stars	stars	stars	stars	stars";

  size: 100%;
}

.grid-item {
  padding: 0;
  border: 2px solid black;
  border-radius: 10px; /* Adjust the border radius as needed */
  margin: 0;
  margin-bottom: 0; /* Adjust the bottom margin as needed */
}

.number {
  grid-area: number;
  font-size: 10px;
}

.filter {
  grid-area: filter;
}

.timeseries{
  grid-area: timeseries;
  width: 100%;
  height: 100%;
}

.bar1 {
  grid-area: bar1;
}

.bar2 {
  grid-area: bar2;
}

.stars {
  grid-area: stars;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "number"
      "filter"
      "timeseries"
      "bar1"
      "bar2"
      "stars";
  }
}

